$color-bg: #EEE1D0;
$color-red: #e12D53;
$color-text: #333;

body {
    background-color: $color-bg;
    font-family: 'Open Sans Condensed', sans-serif;
    color: $color-text;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    text-decoration : none;
}

.container {
    display: grid;
    grid-template-rows: 40px 20% 1fr;
    justify-items: stretch;
    align-items: center;
}

#favourites {
    justify-self: end;
    color: $color-text;
    padding: 20px;
}

#favourites a{
    color: $color-text;
}

#favourites a:hover, #favourites a:active, i.favourite, p a.favourite {
    color: $color-red;
}

.baseline {
    display: flex;
    flex-flow : row;
    justify-content: start;
}

.logo {
    width : 100px;
    height: 21px;
}

#search-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.search-group {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    justify-items: stretch;
    align-items: center;
    border: 3px solid $color-text;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #fff;
    border-radius: 10px;
}

.default-results {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px 20px;
    justify-items: stretch;
    align-items: stretch;
    max-width: 69em;
	list-style: none;
}

.card {
    align-self: start;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    height: 280px;
    background: #FFF;
}

.card img {
    outline: none;
	border: none;
	display: block;
    width: 200px;
    height: 200px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body{
    padding: 4px 20px;
    display: grid;
    grid-template-columns: 85% 1fr;
    grid-template-rows: 40px 40px;
    align-items: center;
}

.favourite-message {
    display:none;
}

p.favourite a {
    color: $color-red;
}

.action{
	height: 40px;
    background: transparent;
    border-color: transparent;
    border-style: none;
    cursor: pointer;
}

#delete-btn {
    visibility: hidden;
}

input {
    border: none;
    flex-basis: 80%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size : 1.5em;
}

input:focus {
    border: none;
    box-shadow: none !important;
    outline: none;
  }

  #back {
      text-align : center;
  }