/* body {
    background: linear-gradient(#ECEDDD, #7BC9C5);
} */

.search-group {
    display: flex;
    flex-direction : row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background: #fff;
    border-radius: 10px;
}

.nav{
    display: flex;
    flex-direction : row;
    justify-content: space-around;
    align-items: center;
    margin-bottom : 20px;
}

.selected {
    text-decoration: underline;
}

.main-title {
    margin-top : 50px;
    font-size: 3em;
    font-family: "Arial Black", Gadget, sans-serif;
    text-transform: uppercase;
}

.results {
    flex-basis: 40%;
    font-size : 2em !important;
}

.small-text {
    font-size : 1em;
    color: #BEBEBE;
}

.action{
	height: 40px;
    background: transparent;
    border-color: transparent;
    border-style: none;
    cursor: pointer;
}

#delete-btn {
    visibility: hidden;
}

input {
    border: none;
    flex-basis: 80%;
    font-size : 1.2em;
}

input:focus {
    border: none;
    box-shadow: none !important;
    outline: none;
  }